
main{
    background-color: #E9E9E9;
    padding-bottom: 50px;
}
.main{
    
}
.main__top{
   
}
.coverImg{

}
.coverImg > img {
    width: 100%;
}
.company__info{
    background-color: #fff;
    
    display: flex;
    padding: 20px 30px;
}
.company__avatar{
    
    border: 2px solid #D2D2D2;
}
.company__avatar img {
    height: 150px;
    
}
.company__brief{
    margin-left: 50px;
}
.company__brief__item{
    color: #575656;
}
.company__name{
    line-height: 1;
    color: #D82727;
}
h1, .h1{
    font-weight: bold;
    font-size: 2.5rem;
}
.main__main{
    margin-top: 20px;
    margin-bottom: 0px;
    
}
.main__tab{

}
.main__tab__btn{

}
.main__tab__content{
    min-height: 500px;
    height: 95%;
    background-color: white;
    padding: 30px 30px;
}
.company__item{
    margin-bottom: 50px;
}
.job__tech__item{
    color: #575656;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: 0 10px 0 0;
    padding: 7px 8px;
    background: transparent;
    border: 1px solid #D2D3D3;
    color: #575656;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    line-height: 100%;
    display: inline-block;
    border-radius: 7px;
}
.job__tech__item:hover{
    text-decoration: none;
    color: #D82727;
    border-color: #D82727;
}
.content{
    font-size: 1.05rem;
}


